<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Dsuite" >
	<test name="Test">
	<classes>
		<class name="Tests.LoginTest"></class>
		<class name="Tests.ProjectModuleTest"></class>
		<class name="Tests.UserTest"></class>
		<class name="Tests.ReportTest"></class>
		<class name="Tests.DataSetTest"></class>
		<class name="Tests.CreateRoleTest"></class>
		<class name="Tests.AnalyticsTest"></class>
		<class name="Tests.AuditTest"></class>
		<class name="Tests.TemplateTest"></class>
		<class name="Tests.DocumentTest"></class>
	</classes>
		
	</test>


<!--	<test name="Test set 2">-->
<!--		<groups>-->
<!--			<run>-->
<!--				<include name="smoke"/>-->
<!--			</run>-->
<!--		</groups>-->

<!--		<classes>-->
<!--		<class name="Tests.Project_Module_TC_For_Supervisor_User"/>-->
<!--			&lt;!&ndash; add other classes of this set here &ndash;&gt;-->
<!--			<parameter name="env" value="${env}"></parameter>-->
<!--		</classes>-->
<!--	</test>-->


<!--	<test name="Test set 3">-->
<!--		<groups>-->
<!--			<run>-->
<!--				<include name="smoke"/>-->
<!--			</run>-->
<!--		</groups>-->
<!--		<classes>-->
<!--			<class name="Tests.Project_Module_TC_For_Operator_User"/>-->
<!--			&lt;!&ndash; add other classes set here &ndash;&gt;-->
<!--			<parameter name="env" value="${env}"></parameter>-->
<!--		</classes>-->
<!--	</test>-->

</suite>